
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: bold 14px Monospace;
}

html {
	height: 100%;
	background: #FE9A2E;
}


#calculator {
	width: 275px;
	height: 420px;
	margin: 100px auto;
	padding: 20px 20px 9px;
	background: #A4A4A4;
	border-radius: 3px;
	box-shadow: 0px 4px #A4A4A4, 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.keyboard{
    padding: 10px 10px;
}

.screen{
    padding: 10px 10px;
}

#ret {
	height: 36px;
	width: 220px;
	float: left;

	padding: 10px 10px;

	background: rgba(0, 0, 0, 0.2);
	border-radius: 3px;
	box-shadow: inset 0px 4px rgba(0, 0, 0, 0.2);
}

span.button{
    overflow: hidden;
	float: left;
	position: relative;
	top: auto;
	cursor: pointer;

	width: 66px;
	height: 36px;

	background: white;
	border-radius: 3px;
	box-shadow: 0px 4px rgba(0, 0, 0, 0.2);

	margin: 0 7px 11px 0;

	color: #000000;
	line-height: 36px;
	text-align: center;
}

span.execOperator, span.simpleOperator{
	background: red;
	margin-right: 0;
}
